Repository WordPress/packages, pull requests merged in 2018-04, with the labels that each got.

#94 Add `publish:check` script to run `lerna updated`
  package.json
Labels: Build Tooling

#109 babel-preset-default: Remove babel-plugin-lodash
  packages/babel-preset-default/index.js
  packages/babel-preset-default/package.json
Labels: [Package] Babel preset

#10 Adding WordCounter package
  package.json
  packages/wordcount/.npmrc
  packages/wordcount/README.md
  packages/wordcount/package.json
  packages/wordcount/src/defaultSettings.js
  packages/wordcount/src/index.js
  packages/wordcount/src/stripConnectors.js
  packages/wordcount/src/stripHTMLComments.js
  packages/wordcount/src/stripHTMLEntities.js
  packages/wordcount/src/stripRemovables.js
  packages/wordcount/src/stripShortcodes.js
  packages/wordcount/src/stripSpaces.js
  packages/wordcount/src/stripTags.js
  packages/wordcount/src/test/index.test.js
  packages/wordcount/src/transposeAstralsToCountableChar.js
  packages/wordcount/src/transposeHTMLEntitiesToCountableChars.js
Labels: [Package] Word count

#112 Add prependHTTP() to @wordpress/url
  packages/url/README.md
  packages/url/src/index.js
  packages/url/src/test/index.test.js
Labels: [Package] Url, [Type] Enhancement

#114 Add a publishConfig setting to wordcount's package.json
  packages/wordcount/package.json
Labels: Build Tooling, bug

#115 Improve publishing process
  CONTRIBUTING.md
  scripts/build.js
Labels: Documentation

#110 Add package: @wordpress/is-shallow-equal
  codecov.yml
  packages/is-shallow-equal/.npmrc
  packages/is-shallow-equal/README.md
  packages/is-shallow-equal/arrays.js
  packages/is-shallow-equal/benchmark/index.js
  packages/is-shallow-equal/index.js
  packages/is-shallow-equal/objects.js
  packages/is-shallow-equal/package.json
  packages/is-shallow-equal/test/index.js
Labels: New Package
