Repository WordPress/packages, pull requests merged in 2018-02, with the labels that each got.

#80 docs: add link to browserslist usage examples docs
  packages/browserslist-config/README.md
Labels: Documentation, [Package] Browserslist config

#81 chore(browserslist): update Browserslist to v3.0.0
  packages/browserslist-config/package-lock.json
  packages/browserslist-config/package.json
Labels: [Package] Browserslist config

#84 chore: update Lerna to 2.9.0
  lerna.json
  package-lock.json
  package.json
Labels: Framework

#79 Build: Use node script to symlink local npm dependencies
  package-lock.json
  package.json
  scripts/create-symlinks.js
  scripts/create-symlinks.sh
Labels: Build Tooling, enhancement

#82 docs: ❤️ Code is Poetry
  README.md
  packages/a11y/README.md
  packages/autop/README.md
  packages/babel-preset-default/README.md
  packages/browserslist-config/README.md
  packages/dom-ready/README.md
  packages/hooks/README.md
  packages/jest-console/README.md
  packages/jest-preset-default/README.md
  packages/scripts/README.md
  packages/url/README.md
Labels: Documentation

#83 Scripts: Provide the default configuration for the `test` command
  lerna.json
  package.json
  packages/scripts/README.md
  packages/scripts/bin/wp-scripts.js
  packages/scripts/config/babel-transform.js
  packages/scripts/config/jest.config.js
  packages/scripts/package.json
  packages/scripts/scripts/test-script.js
  packages/scripts/scripts/test-unit-jest.js
  packages/scripts/scripts/test-unit.js
  packages/scripts/utils/index.js
  packages/scripts/utils/package.js
  packages/scripts/utils/process.js
  packages/scripts/utils/test/index.js
Labels: Unit Testing, [Package] Scripts

#85 Hooks: Micro-optimize runHooks
  package.json
  packages/hooks/benchmark/index.js
  packages/hooks/src/createAddHook.js
  packages/hooks/src/createDidHook.js
  packages/hooks/src/createHasHook.js
  packages/hooks/src/createHooks.js
  packages/hooks/src/createRemoveHook.js
  packages/hooks/src/createRunHook.js
  packages/hooks/src/test/index.test.js
Labels: [Package] Hooks
