Repository WordPress/packages, pull requests merged in 2018-05, with the labels that each got.

#116 is-shallow-equal: Fall back to strict equality for non-object-like
  packages/is-shallow-equal/README.md
  packages/is-shallow-equal/arrays.js
  packages/is-shallow-equal/benchmark/index.js
  packages/is-shallow-equal/index.js
  packages/is-shallow-equal/objects.js
  packages/is-shallow-equal/test/index.js
Labels: [Package] is-shallow-equal

#123 Fix/wordcount whitespace only error
  packages/wordcount/src/index.js
  packages/wordcount/src/test/index.test.js
Labels: [Package] Word count

#124 is-shallow-equal: Use implicit index.js for main entry
  packages/is-shallow-equal/package.json
Labels: [Package] is-shallow-equal, [Type] Bug

#119 Add `@wordpress/npm-package-json-lint-config` package
  package.json
  packages/babel-plugin-makepot/package.json
  packages/browserslist-config/package.json
  packages/custom-templated-path-webpack-plugin/package.json
  packages/i18n/package.json
  packages/jest-console/package.json
  packages/jest-preset-default/package.json
  packages/npm-package-json-lint-config/.npmrc
  packages/npm-package-json-lint-config/README.md
  packages/npm-package-json-lint-config/index.js
  packages/npm-package-json-lint-config/package.json
  packages/npm-package-json-lint-config/test/index.test.js
  packages/wordcount/package.json
  scripts/create-symlinks.js
Labels: New Package

#125 Add a custom Lerna publish commit message
  lerna.json
Labels: Build Tooling

#126 Babel preset: Enable support for async generator functions
  packages/babel-preset-default/CHANGELOG.md
  packages/babel-preset-default/index.js
  packages/babel-preset-default/package.json
  packages/babel-preset-default/test/index.js
Labels: [Package] Babel preset

#127 chore: update `codecov` to v3, resolves all `npm audit` issues.
  package.json
Labels: Build Tooling

#128 Scripts: Add support for lint-pkg-json script
  package.json
  packages/scripts/CHANGELOG.md
  packages/scripts/README.md
  packages/scripts/config/npmpackagejsonlint.json
  packages/scripts/package.json
  packages/scripts/scripts/lint-pkg-json.js
  packages/scripts/utils/index.js
  packages/scripts/utils/package.js
Labels: [Package] Scripts
